<div class="p-4 pb-24">
  <div class="flex mb-2">
    <h1 class="text-2xl font-bold">{{ mortgage().name }}</h1>
  </div>
  <div class="text-sm">
    <div class="flex justify-between">
      <div>Amount</div>
      <div>{{ mortgage().amount | currency : mortgage().currency }}</div>
    </div>
    <div class="flex justify-between">
      <div>Interest rate ({{ mortgage().interestType }})</div>
      <div>{{ mortgage().baseInterest }} %</div>
    </div>
    <div class="flex justify-between">
      <div>Quotas ({{ mortgage().interval }})</div>
      <div>{{ mortgage().quotes }}</div>
    </div>
  </div>
  @if (plan.isLoading()) {
    Loading...
  } @else if (plan.error()) {
    Error...
  } @else if (plan.value()) {
    <app-mortgage-detail-range
      label="Total"
      [main]="plan.value()!.results.totalWithInterests"
      [left]="plan.value()!.results.currentTotalAmortization + plan.value()!.results.currentTotalInterests"
      [right]="plan.value()!.results.totalWithInterests - (plan.value()!.results.currentTotalAmortization + plan.value()!.results.currentTotalInterests)"
      [template]="rangeCurrencyValue"
      highlight="primary"
    >
    </app-mortgage-detail-range>
    <app-mortgage-detail-range
      label="Amortization"
      [main]="mortgage().amount"
      [left]="plan.value()!.results.currentTotalAmortization"
      [right]="mortgage().amount - plan.value()!.results.currentTotalAmortization"
      [template]="rangeCurrencyValue"
      highlight="success"
    ></app-mortgage-detail-range>
    <app-mortgage-detail-range
      label="Interests"
      [main]="plan.value()!.results.totalInterests"
      [left]="plan.value()!.results.currentTotalInterests"
      [right]="plan.value()!.results.totalInterests - plan.value()!.results.currentTotalInterests"
      [template]="rangeCurrencyValue"
      highlight="error"
    ></app-mortgage-detail-range>
    <app-mortgage-detail-range
      label="Quotas"
      [main]="plan.value()!.results.quotas"
      [left]="plan.value()!.results.currentQuota"
      [right]="plan.value()!.results.quotas - plan.value()!.results.currentQuota"
    ></app-mortgage-detail-range>
    <ng-template #rangeCurrencyValue let-value let-currency>{{ value | currency: mortgage().currency }}</ng-template>
  }

  <div class="divider"></div>

  @if (plan.isLoading()) {
    <p>Loading...</p>
  } @else if (plan.error()) {
    <p>Error...</p>
  } @else if (plan.value()) {
    <ul class="timeline timeline-vertical">
      @for (amortization of plan.value()!.amortizations; track amortization.date) {
        <li>
          @if (!$first) {
            <hr [class.bg-primary]="amortization.passed" />
          }
          <app-mortgage-detail-timeline-item class="contents" [mortgage]="mortgage()" [amortization]="amortization" (clicked)="openAddPartialAmortizationForm(amortization)"></app-mortgage-detail-timeline-item>
          @if (!$last) {
            <hr [class.bg-primary]="plan.value()!.amortizations[$index + 1].passed" />
          }
        </li>
      }
    </ul>
  }

  <div class="fixed bottom-4 right-4 flex flex-col gap-2 items-center">
    <button class="btn btn-circle btn-soft btn-sm btn-secondary" (click)="amortizationConfigurationsDialog.showModal()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </button>
    <button class="btn btn-circle btn-secondary" (click)="openAddPartialAmortizationForm()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </button>
  </div>
</div>

<dialog #addPartialAmortizationDialog class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-bold">Partial amortization</h3>
      <form class="contents" method="dialog">
        <button class="btn text-lg btn-sm btn-circle btn-ghost">✕</button>
      </form>
    </div>
    <app-mortgage-detail-add-amortization-form
      formId="add-amortization-form"
      [amortization]="selectedAmortization()"
      (onSave)="onSavePartialAmortization(selectedAmortization()!, $event)"
    ></app-mortgage-detail-add-amortization-form>
    <div class="modal-action">
      <button class="btn btn-primary" type="submit" form="add-amortization-form">Save</button>
      @if (mortgage() | hasAmortization : selectedAmortization()?.date) {
        <button class="btn btn-error" (click)="onDeletePartialAmortization(selectedAmortization()!)">Delete</button>
      }
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>

<dialog #amortizationConfigurationsDialog class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-bold">Scheduled amortizations</h3>
      <form class="contents" method="dialog">
        <button class="btn text-lg btn-sm btn-circle btn-ghost">✕</button>
      </form>
    </div>
    <app-mortgage-detail-amortization-configurations-form
      [mortgage]="mortgage()"
      [configurations]="mortgage().amortizationConfigurations"
      (onSave)="onSaveAmortizationConfiguration($event)"
    ></app-mortgage-detail-amortization-configurations-form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>
